@import './variables.scss';
/*
  General
*/
body {
  background-color: $white;
  color: $dark-grey;
}
h1, h2, h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
button {
  outline: none;
  border: none;
  border-radius: 4px;
}
#root {
  display: grid;
  grid-template-rows: max-content auto max-content;
  min-height: 100vh;
}
.error__message {
  padding: 1rem;
  background-color: $error;
  color: $white;
  text-align: center;
  border-radius: 10px;
}
/*
  Header component
*/
.header {
  padding: 1rem 0;
  z-index: 1000;
  &.light {
    background-color: $light-grey;
    color: $dark-grey;
  }
  &.dark {
    background-color: $dark-grey;
    color: $white;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .header__title {
    margin: 0;
  }
  .header__btn {
    padding: .8rem 1.2rem;
    color: $white;
    background: linear-gradient(135deg, #9785E0, #85A9E0);;
  }
}
.header__img {
  width: 3rem;
}
/*
  Main component
*/
.main.dark {
  background-color: $black;
  color: $white;
}
.main.light {
  background-color: $white;
  color: $dark-grey;
}
.main__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 2rem 1rem;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.counter {
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  &.dark {
    background-color: $dark-grey;
    color: $white;
  }
  &.light {
    background-color: $light-grey;
    color: $dark-grey;
  }
}
/*
  EmailForm Cmponent
*/
.form__container.dark {
  .form__error {
    border: 1px solid $error !important;
  }
  .form__input {
    background-color: $dark-grey;
    color: $white;
    border: none;
    &::placeholder {
      color: $grey;
    }
  }
  .form__btn {
    color: $dark-grey;
    background-color: $white;
    &:hover {
      background: linear-gradient(135deg, #9785E0, #85A9E0);
      color: $white;
    }
  }
}
.form__container.light {
  .form__error {
  border: 1px solid $error !important;
  }
  .form__input {
    background-color: $light-grey;
    color: $dark-grey;
    &::placeholder {
      color: #A1A1A1;
    }
  }
  .form__btn {
    color: $white;
    background-color: $dark-grey;
    &:hover {
      background: linear-gradient(135deg, #9785E0, #85A9E0);
      color: $white;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
}
.form__input {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  &::placeholder {
    font-size: 1rem;
  }
}
.form__btn {
  padding: 1.1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  outline: none;
  font-weight: 700;
  &:focus { 
    outline: none;
  }
}
.form__errorMessage {
  color: $white;
  text-align: center;
  padding: 1rem;
  background-color: $error;
  border-radius: 10px;
}
.form__validMessage {
  color: $white;
  text-align: center;
  padding: 1rem;
  background-color: $valid;
  border-radius: 10px;
}
/*
  CurrencyCard component
*/
.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid $dark-grey;
  &.dark {
    background-color: $dark-grey;
  }
  &.light {
    background-color: $white;
  }
  &__details {
    display: flex;
  }
  &.order-1 { 
    order: 1;
    border: 2px solid $error;
  }
  &.order-2 {
    order: 2;
    
  }
  &__img {
    border-radius: 3rem;
    object-fit: cover;
    object-position: center;
    width: 3rem;
    height: 3rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
  }
  &__title {
    font-size: 1.5rem;
    margin-bottom: .2rem;
  }
  &__subtitle {
    font-size: .8rem;
  }
  &__rates {
    text-align: right;
  }
  &__rate {
    font-size: 1rem;
    margin-bottom: .2rem;
  }
  &__like {
    width: 1.5rem;
  }
  &__btn {
    width: 100%;
  }
}
/*
  Footer component
*/
.footer {
  text-align: center;
  padding: 1rem;
  &.dark {
    background-color: $dark-grey;
    color: $white;
  }
  &.light {
    background-color: $light-grey;
    color: $dark-grey;
  }
}
.footer__img {
  width: 2rem;
}